/*index*/

*{
	margin: 0;
	padding: 0;
	font-family: scan-serif;

}
.main{
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
	background: linear-gradient(to right, #9c27b0, #8ecdff);

}
nav{
	width:  80%;
	position: sticky;
	margin: 20px auto;
	z-index: 1;
	align-items: center;
}

.logo{
	flex-basis: 20%

}
.logo img{
	width: 150px;
	

}
.nav-links{
	flex: 1;
	text-align: right;
}
.nav-links ul li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;


}
.nav-links ul li a{
	color: #fff;
	text-decoration: none;
}
.information{
	width: 1000px;
	height: 1000px;
	position: absolute;
	top: 50%;
	left: -10%;
	transform: translateY(-50%);
}
#circle{
	width: 1000px;
	height: 1000px;
	position: absolute;
	top: 0%;
	left: 0%;
	border-radius: 50%;
	transform: rotate(0deg);
	transition: 1s;
}
.feature img{
	width: 70px;

}
.feature{
	position: absolute;
	display: flex;
	color: #fff;
}
.feature div{
	margin-left: 30px;

}
.feature div p{
	margin-top: 8px;

}
.one{
	top: 450px;
	right: 50px;
}
.two{
	top: 150px;
	left: 350px;
	transform: rotate(-90deg);
}
.three{
	bottom: 450px;
	left: 50px;
	transform: rotate(-180deg);

}
.four{
	bottom: 150px;
	right: 350px;
	transform: rotate(-270deg);
}
.mobile{
	width: 200px;
	position: absolute;
	top: 50%;
	left: 35%;
	transform: translateY(-50%);
	z-index: 1;
}
.controls{
	position: absolute;
	right: 10%;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;

}
.controls h3{
	margin: 15px 0;
	color: #fff;
}
#upBtn{
	width: 15px;
	cursor: pointer;
}
#downBtn{
	width: 15px;
	cursor: pointer;
	transform: rotate(180deg);
}
.overlay{
	width: 0;
	height: 0;
	border-top: 500px solid #fff;
	border-right: 500px solid transparent;
	border-bottom: 500px solid #fff;
	border-left: 500px solid #fff;
	position: absolute;
	left: 0;
	top: 0;
}

/*contact page*/

.container{
  max-width: 800px;
  height: 600px;
  background: linear-gradient(to right, #9c27b0, #8ecdff);
;
  margin: 50px auto;
  box-shadow: 0 0 20px rgba(72,98,85, 0.6);
  box-sizing: border-box;
  padding: 40px;


}



.input,
.msg .area{
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 25px;
  border: 2px solid #e9eaea;
  font-size: 14px;
  border-radius: 5px;
  outline: none;
  transform: all 0.5s ease;
}

.login .input{
  width: 48%;
  float: left;
  margin-right: 4%;
}

.login .input:last-child{
  margin-right: 0;
}

.msg .area{
  height: 200px;
}

.btn{
  width: 250px;
  background: #486255;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 5px;
  margin: 0 auto;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.input:focus,
.msg .area:focus{
  border: 2px solid #486255;
}
::-webkit-input-placeholder{
  font-family: 'roboto';
}

/*gallery*/

.box{
 width: 20%;
 float: left;
 padding: 7px;
 padding-left: 10px;  
 display: block;
 overflow: hidden;
 border-radius: 3px;
 margin-left: 50px;

}

img{
 width: 100%;
  border-radius: 4px;


}
